body {
  background-color: #393E46;
}

h1 {
  margin: 2%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 600%;
  color: #4ECCA3;
  min-height: 200%;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

img {
  width: 40%;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 40%;
}

.roll {
  font-family: 'Lobster', cursive;
  border: 0;
  outline: 0;
  width: 20%;
  padding: 30px;
  margin: 5% auto;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  background: #bc3737;

}

.roll:hover {
  background: #b23737;
}

@media only screen and (max-width: 719px) {
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .roll {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 530px) {
  h1 {
    font-size: 4rem;
    margin: 10px;
    min-height: 100px;
  }
  img {
    width: 60%;
  }
  .roll {
    width: 100px;
    padding: 10px;
  }
}

@media only screen and (max-width: 398px) {
  h1 {
    font-size: 3rem;
  }
}