body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  min-height: 180px;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

img {
  width: 80%;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.roll {
  font-family: 'Lobster', cursive;
  border: 0;
  outline: 0;
  width: 200px;
  padding: 30px;
  margin: 5% auto;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: #FFF;
  background: #bc3737;

}

.roll:hover {
  background: #b23737;
}